/* layout.css */
.topo {
    display: ;
    justify-content: ;
    align-items: ;
    margin-bottom: ;
}

.opcoes, .informacoes {
    display: ;
    align-items: ;
}

.opcoes label, .informacoes div {
    margin-right: ;
    color: ;
}