form {
  margin-top: 1.25rem; /* Equivalente a 20px */
}

#cep-input {
  padding: 0.5rem; /* Equivalente a 8px */
  border: 0.1rem solid #ccc; /* Equivalente a 1px */
  border-radius: 0.25rem; /* Equivalente a 4px */
  margin-right: 0.625rem; /* Equivalente a 10px */
}

button {
  padding: 0.5rem 1rem; /* Equivalente a 8px 16px */
  background-color: var(--primaria);
  color: var(--secundaria);
  border: none;
  border-radius: 0.25rem; /* Equivalente a 4px */
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0a1dc9;
}