/* Importar fonte */
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

/* Importando os outros arquivos CSS */
@import "container.css";
@import "form.css";
@import "modal.css";

/* Fontes e Reset */
body {
  font-family: ;
  font-size:;
  margin: ;
  padding: ;
}

/* Cores */
:root {
  --primaria: ;
  --secundaria: ;
}

/* Geral */
#minha-secao {
  position: ;
  height: ;
}

/* Wrap */
#wrap-cta {
  position: ;
  top: ;
  left: ;
  transform: ;
  opacity:;
}

#wrap-cta.ativo {
  z-index: ;
  transition: ;
  opacity: ;
}

/* Botão cta */
#cta {
  padding:;
  text-transform: ;
  color: ;
  background: ;
  border: ;
  border-radius: ;
  cursor: ;
  outline: ;
  transition: ;
}

#cta:hover {
  background: ;
}

/* SVG */
svg {
  position: ;
  top: ;
  left: ;
  width: ;
  height: ;
  z-index: ;
}

.polymorph {
  fill: ;
}