/* Paleta de cores */
:root {
    /* Cores */
    --cor-primaria: #cfe0e8; /* Azul claro - Cor principal */
    --cor-secundaria: #ff7f50; /* Coral - Cor secundária */
    --cor-aviso: #ffa07a; /* Laranja claro - Cor de aviso */
    --cor-perigo: #ff6b6b; /* Vermelho claro - Cor de perigo */
    --cor-sucesso: #28a745; /* Verde escuro - Cor de sucesso */
    --cor-fundo: #ffffff; /* Branco - Cor de fundo */
    --cor-texto: #2c3e50; /* Azul escuro para texto */
    --cor-texto-secundario: #7f8c8d; /* Cinza escuro - Texto secundário */
    --cor-borda: #bdc3c7; /* Cinza claro - Cor da borda */
    --cor-sombra: rgba(0, 0, 0, 0.2); /* Sombra suave */
    --cor-vidro: #f8f9fa; /* Fundo quase branco */
  }

/* Estilo global para o corpo */
body {
    font-family: 'Roboto', sans-serif; 
    margin: 0; 
    padding: 0; 
    background: var(--cor-fundo); 
    color: var(--cor-texto); 
    box-sizing: border-box; 
  }