body {
    display: ;
    justify-content: ;
    align-items: ;
    height: ;
    margin: ;
    flex-direction: ;
    background-color: ;
}

#container {
    position: ;
    width: ;
    height: ;
    border: ;
    border-radius: ;
    background-color: ;
    box-shadow: ;
}

#quadrado {
    position: ;
    width: ;
    height: ;
    background-color: ;
    border-radius: ;
    transition: ;
}

#controles {
    margin-top: ;
    display: ;
    gap: ;
}

button {
    padding: ;
    font-size: ;
    font-weight: ;
    cursor: ;
    border: ;
    border-radius: ;
    background-color: ;
    color: ;
    box-shadow: ;
    transition: ;
}

button:hover {
    background-color: 
}

button:active {
    transform: ;
}