form {
  margin-top: ; /* Equivalente a 20px */
}

#cep-input {
  padding: ; /* Equivalente a 8px */
  border: ; /* Equivalente a 1px */
  border-radius: ; /* Equivalente a 4px */
  margin-right: ; /* Equivalente a 10px */
}

button {
  padding: ; /* Equivalente a 8px 16px */
  background-color: ;
  color: ;
  border: ;
  border-radius: ; /* Equivalente a 4px */
  cursor: ;
  outline: ;
}

button:hover {
  background-color: ;
}