/* Define a fonte e a alinhamento do texto para o corpo do documento */
body {
    font-family: 'Arial', sans-serif; /* Fonte Arial ou uma fonte genérica sans-serif caso não seja possível carregar Arial */
    text-align: center; /* Centralizar o texto horizontalmente dentro do corpo do documento */
  }
  
  /* Container principal */
  .container {
    display: flex; /* Layout flexível para o container */
    flex-direction: column; /* Direção dos elementos filhos como uma coluna */
    align-items: center; /* Centraliza os elementos filhos horizontalmente */
    justify-content: center; /* Centraliza os elementos filhos verticalmente */
    height: 100vh; /* Define a altura do container como 100% da altura da viewport */
  }